<div class="auth-container">
  <div class="content-left">
    <h1>Chef Connect</h1>
    <p class="description">
      Chef Connect to intuicyjny system dla sieci restauracji, który usprawnia
      rezerwacje, zamówienia na wynos, zarządzanie zapasami i analizę danych.
      Pomaga zwiększyć efektywność pracy, poprawić obsługę klientów i wspiera
      rozwój biznesu.
    </p>
  </div>
  <div class="content-right">
    <div class="form-container">
      <amplify-authenticator> </amplify-authenticator>
    </div>
  </div>
</div>
